@import "./variables.scss";
@import "./home.scss";

body {
  background-color: $background-color;
  color: white;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.text-white,
.section-title {
  color: white;
}

.section-title {
  text-align: start;
}

.seciton-x-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-start {
  text-align: start;
}

.w-100 {
  width: 100%;
}

.h-100 {
  width: 100%;
}

.text-shadow {
  text-shadow: 0px 0px 2px #000;
}

.user-circle-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.loading-spin {
  color: $primary-color;
}

.pt-3 {
  padding-top: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-0 {
  padding: 0px;
}
